doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="IUrban: Tu tienda de ropa urbana con las últimas tendencias. Encuentra la ropa urbana más actual para hombre y mujer en IUrban. Desde streetwear hasta looks casuales, tenemos todo lo que necesitas para expresar tu estilo único. Compra online con envío gratuito a toda Venezuela. Descubre las mejores marcas: Nike, Adidas, Puma, Supreme, Stüssy, Off-White y muchas más... Aprovecha nuestras ofertas y promociones exclusivas. Síguenos en redes sociales para estar al día de las últimas novedades. IUrban: Vístete con tu propia personalidad.")
        //- LOGO
        link(rel="shortcut icon" href="/assets/icon/logo.ico" type="image/x-icon")
        link(rel="stylesheet" href="../css/normalize.css")
        link(rel="stylesheet" href="../css/style.css")
        //- LINK REAL SWIPER JS - https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css
        link(rel="stylesheet" href="/css/swiper.style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons+Round")
        //- FONTS
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap" rel="stylesheet")
        title IUrban
    body
        block header
            header.header.header_home#header
                nav.header_nav
                    a.logo(href="/"): img(src="../assets/img/logo-a.webp" alt="logo-iurban")
                    ul.header_nav_list
                        li.header_links: a(href="/new-and-featured" title="New and featured clothing") New and Featured
                        li.header_links: a(href="/men" title="Men's clothing") Men
                        li.header_links: a(href="/women" title="Women's clothing") Women
                        if (data_user !== undefined)
                            div.car_shopping
                                span#carShoppingIcon(class="material-icons-round") shopping_cart
                            div.car_shopping__container#carShoppingContainer
                                div.car_shopping__container__header
                                    span Shopping Cart
                                    span.btn_user_icon_close_car#btnUserIconCloseCar(class="material-icons-round") close
                                div.car_shopping__container__products
                                    if (data_cart == undefined)
                                        div.car_shopping__container__products__empty
                                            p Empty cart.
                                    else
                                        each row in data_cart
                                            div.car_shopping__container__products__product
                                                img(src=`../assets/img/${row.img}`, alt=`${row.img}`).products__product__img
                                                div.products__product__info
                                                    p.products__product__info__p_one #{row.model}
                                                    p.products__product__info__p_two #{row.type_product}
                                                div.products__product__stock
                                                    p.products__product__stock__qua Quantity
                                                    p.products__product__stock__p #{row.quantity}
                                                div.products__product__price
                                                    p.products__product__price__p $#{row.price}
                                div.car_shopping__container__footer
                                    div.car_shopping__container__footer__total
                                        span.total Total
                                        span.total_price $1000,00
                                    div.car_shopping__container__footer__btn_buy
                                        button Buy
                            div.data_user__container
                                li: span#btnDataUserOpen.unactive(class="material-icons-round") person
                            div#dataUser.data_user
                                span.btn_user_icon_close#btnUserIconClose(class="material-icons-round") close
                                div.data_user__container
                                    li: span.btn_data_user_close(class="material-icons-round") person
                                    div.data_user__container_info#dataUserContainerInfo
                                        span.data_user__full_name #{data_user.first_name} #{data_user.last_name}
                                        span.data_user__email #{data_user.email}
                                div.data_user__options#dataUserOptions
                                    a(href="/account") Account
                                    a.logout(href="/logout") Log Out
                        else
                            li: a(href="/signup" title="Create Account"):  span(class="material-icons-round") account_circle
                            li: a(href="/login" title="Log In"): span(class="material-icons-round") login

        block main

        block shadow
            div.shadow

        block indice
            section.indice#indice
                div.indice_div
                    nav.indice_container_nav
                        h3 Shoes
                        ul.indice_container_nav_list
                            li: a(href="") All Shoes
                            li: a(href="") Training Shoes
                            li: a(href="") Running Shoes
                            li: a(href="") Sale Shoes
                    nav.indice_container_nav
                        h3 Clothing
                        ul.indice_container_nav_list
                            li: a(href="") All Clothing
                            li: a(href="") Tops & T-Shirts
                            li: a(href="") Shorts
                            li: a(href="") Hoodies & Pullovers
                            li: a(href="") Joggers & Sweatpants
                            li: a(href="") Pants & Leggins
                            li: a(href="") Sports Bras
                            li: a(href="") Sale Clothing
                    nav.indice_container_nav
                        h3 Accessories
                        ul.indice_container_nav_list
                            li: a(href="") Watches
                            li: a(href="") Cap
                div.indice_div
                    nav.indice_container_nav
                        h3 Company Info
                        ul.indice_container_nav_list
                            li: a(href="") About Us
                            li: a(href="") Contact Us
                            li: a(href="") Our Values
                    nav.indice_container_nav
                        h3 Follo Us
                        ul.indice_container_nav_lis_red
                            li: a(href=""): img(loading="lazy" src="../assets/img/facebook.webp" alt="facebook" width="50px" height="50px")
                            li: a(href=""): img(loading="lazy" src="../assets/img/instagram.webp" alt="instagram" width="50px" height="50px")
                            li: a(href=""): img(loading="lazy" src="../assets/img/linkedin.webp" alt="linkedin" width="50px" height="50px")
        block buttonScroll
            a(class="scroll_up scroll_button" href="#header"): span.material-icons-round keyboard_double_arrow_up
        block footer
            footer.footer
                nav.footer_nav
                    ul.footer_nav_list
                        li: a(href="") Term & Conditions
                        li: a(href="") Privacy Policy
                        li: a(href="") Support
                    p ©2023 IUrban Venezuela, Inc

        block script
            script(defer src="/js/script.js")
            script(defer type="module" src="/js/swiper.script.js")
            script(defer type="module" src="/js/socket.client.js")
            //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js")